##################################
##     Awesome MB config file 	##
## No error checking, so  	    ##
## yippee ki-yay, motherfucker! ##
##################################

# Game settings
roundTime=180
shopTime=25
rounds=3
shadow=1
treasureCount=50
startMoney=500

# Weapons:
jonnegun_startammo=20
small_bomb_startammo=5
nuclear_missile_startammo=5
atomic_bomb_startammo=5
small_dynamite_startammo=5
big_dynamite_startammo=5
mine_startammo=5
holy_bomb_startammo=1

jonnegun_price=49
nuclear_missile_price=1000
small_bomb_price=300
small_dynamite_price=100
big_dynamite_price=200
atomic_bomb_price=800
holy_bomb_price=5000
mine_price=500

# Player names:
player1_name=JERE
player2_name=OLLO
player3_name=MAX
player4_name=HENRI

# Player 3 buttons
# Note: value are SFML sf::Keyboard::Key values (int)
# up: T, d: G, l: F, r: H, shoot: B, change: V, use pick C
p3_up=19
p3_down=6 
p3_left=5
p3_right=7

p3_shoot=1
p3_change_weapon=21
p3_use_pick=2

# Player 4 buttons
# up: I, d: K, l: J r: L, shoot: M, change: N, use pick ;
p4_up=8
p4_down=10
p4_left=9
p4_right=11

p4_shoot=13
p4_change_weapon=12
p4_use_pick=49

#Other shits
mute_button=94

# Maps
# map=name1,name2,name3
maps=map

# There is anything to see
are_you_patronizingperson_with_puritan_moral_sense=1



